.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 4%;
    background: #fff;
    border-bottom: 1px solid #eee;
}

/* LOGO */
.navbar .logo {
    height: 50px;
    width: auto;
    object-fit: contain;
}

/* PROFILE ICON */
.navbar .profile {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}